{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "rules": {
    "@typescript-eslint/camelcase": "off"
  },
  "ignorePatterns": [
    "**/.nyc_output/**",
    "**/coverage/**",
    "**/dist/**",
    "**/node_modules/**"
  ]
}
