{
  "extends": "@istanbuljs/nyc-config-typescript",
  "check-coverage": true,
  "extension": [
    ".ts"
  ],
  "exclude": [
    "coverage",
    "dist",
    "test"
  ],
  "reporter": [
    "html",
    "lcov",
    "text-summary"
  ],
  "all": true,
  "sourceMap": true,
  "instrument": true
}